.order_details {
    display: flex;
    padding: 0.5rem 0;
    align-items: center;
}

.order_details>div {
    margin: 0 0.5rem;
}

.order_details>div:nth-of-type(1) {
    width: 30%;
}

.order_details>div:nth-of-type(1) img {
    width: 100%;
}

.order_details>div:nth-of-type(2) {
    width: 70%;
}

.order_details>div:nth-of-type(2) p {
    font-size: 0.9rem;
}

.order_details>div:nth-of-type(2) p:nth-of-type(1) {
    font-weight: 500;
}

.order_details>div:nth-of-type(2) p:nth-of-type(2) {
    font-weight: 300;
}

.order_details>div:nth-of-type(2)>div {
    display: flex;
    justify-content: start;
    margin-top: 0.5rem;
    align-items: center;
}

.order_details>div:nth-of-type(2)>div div {
    margin-right: 1.2rem;
}

.order_details>div:nth-of-type(2)>div>div:nth-of-type(1) {
    padding: 0 0.5rem;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #c2c2c2;
    color: #707070;
}

.order_details>div:nth-of-type(2)>div>div:nth-of-type(1) i {
    cursor: pointer;
}

.order_details>div:nth-of-type(2)>div>div:nth-of-type(2) {
    font-size: 0.8rem;
}

.order_details>div:nth-of-type(2)>div>div:nth-of-type(3) {
    font-size: 0.9rem;
}